footer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 100px;
}

footer h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: var(--antiColor);
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  color: var(--antiColor);
}
